<div class="row">
    <div class="col">
      <div ngbDropdown class="d-inline-block">
        <button class="btn btn-dark" id="reportSelector" ngbDropdownToggle>{{ selectedReport || "Select Report" }}</button>
        <div ngbDropdownMenu aria-labelledby="reportSelector">
          <button ngbDropdownItem (click)="setSelectedReport('URINALYSIS'); postSelectedReport()">Urinalysis</button>
          <button ngbDropdownItem (click)="setSelectedReport('BLOOD SUGAR'); postSelectedReport()">Blood Sugar</button>
        </div>
      </div>
    </div>
</div>