<nav class="navbar navbar-dark bg-dark">
  <header class="navbar-brand" style="font-size: 1.6rem">Krushna Pathology</header>
</nav>

<div class="card bg-dark mb-3">
  <div class="card-header">
    <app-report-selector (selectedReportEmitter)="receiveSelectedReport($event)"></app-report-selector>
  </div>

  <div [ngSwitch]='selectedReport'>
    <div class="card-body" *ngSwitchCase="'ANC'">
      <app-anc></app-anc>
    </div>
    <div class="card-body" *ngSwitchCase="'BLOOD SUGAR'">
      <app-sugar></app-sugar>
    </div>
    <div class="card-body" *ngSwitchCase="'DENGUE RAPID TEST'">
      <app-dengue-rapid></app-dengue-rapid>
    </div>
    <div class="card-body" *ngSwitchCase="'HAEMOGRAM'">
      <app-haemogram></app-haemogram>
    </div>
    <div class="card-body" *ngSwitchCase="'URINALYSIS'">
      <app-urinalysis></app-urinalysis>
    </div>
    <div class="card-body bg-dark" *ngSwitchCase="'WIDAL'">
      <app-widal></app-widal>
    </div>
  </div>
</div>